<div id="<%= dom_id student %>">
  <p>
    <strong><%= t('activerecord.attributes.student.first_name') %></strong>
    <%= student.first_name %>
  </p>

  <p>
    <strong><%= t('activerecord.attributes.student.last_name') %></strong>
    <%= student.last_name %>
  </p>

  <p>
    <strong><%= t('activerecord.attributes.student.contacts') %></strong>
    <%= student.contacts %>
  </p>

  <p>
    <strong><%= t('activerecord.attributes.student.grade') %></strong>
    <%= student.grade %>
  </p>

</div>
