<div id="<%= dom_id library_ticket %>">
  <p>
    <strong>Book:</strong>
    <%= library_ticket.book %>
  </p>

  <p>
    <strong>Got date:</strong>
    <%= library_ticket.got_date %>
  </p>

  <p>
    <strong>Back date:</strong>
    <%= library_ticket.back_date %>
  </p>

  <p>
    <strong>Student:</strong>
    <%= library_ticket.student_id %>
  </p>

</div>
